PopupDialog {
    position: absolute;
    width: 80%;
    height: 30%;
    background-color: #FFFFFF;
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

PopupText {
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

CloseButton {
    width: 100px;
    height: 30px;
}
